@model IEnumerable<WorkBook.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <h4>Pages</h4>

    <p>
        @Html.ActionLink("Create New", "Create", new { bookID = ViewBag.PBookID }, new { @class = "create" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookName)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenubutton">
                            @Html.ActionLink("Edit", "Edit", new { id = item.PageID }, new { @class = "btn" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PageID }, new { @class = "btn" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PageID }, new { @class = "btn" })

                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
    <div>
        @*@Html.ActionLink("Back to User Index", "Index", "Users", new { bookID = ViewBag.PBookID }, null)*@
        @Html.ActionLink("Back to User", "Index", "Users", new { bookID = ViewBag.PBookID }, new { @class = "btn" })
    </div>
    </body>
</html>
